<h3>Relatorio de faturamento mensal</h3>
<hr>
<table class="table table-striped table-hover" width="100%">
    <thead>
    <tr>
        <th>Período</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    {% for faturamento in faturamentos %}
        <tr>
            <td>{{ faturamento.data_cadastro | date("m/Y") }}</td>
            <td>R$ {{ faturamento.faturamento | number_format(2, ",", ".") }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2" class="table-info">Nenhum faturamento</td>
        </tr>
    {% endfor %}
    </tbody>
</table>